<div class="container">
	
	<div class="row">
		<div class="col-lg-12 pad">
			<div class="thumbnail">

				<h3 class="text-center"> Add new POST </h3>

				<form name="vm.newPostForm" ng-submit="vm.addPost()">
					<div class="form-group">
						<input class="form-control" type="text" name="author" placeholder="Name" ng-model="vm.author">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="title" placeholder="Title" ng-model="vm.title">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="image" placeholder="ImageURL" ng-model="vm.image">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="content" placeholder="..." ng-model="vm.content">
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-warning btn-block"> SUBMIT </button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
